<h5 style="text-align: center;">Разделы серверов</h5>
<p-toast></p-toast>
<p-toolbar styleClass="p-mb-2">
  <ng-template pTemplate="left">
    <button pButton pRipple label="Новый раздел" icon="pi pi-plus" class="p-button-success" (click)="addServer_Partition()" ></button>
  </ng-template>
</p-toolbar>

<p-table
  styleClass="p-datatable-gridlines"
  [resizableColumns]="true"
  [columns]="colsServer_Partition"
  [value]="Server_Partitions"
  sortMode="multiple"
  [scrollable]="true"
  selectionMode="single"
  [metaKeySelection]="true"
  [paginator]="true"
  [rows]="10" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20,1000]"
  currentPageReportTemplate="Демонстрация от {first} до {last} из {totalRecords} записи(ей)" [showCurrentPageReport]="true"
  [(selection)]="selectItem"
>
  <ng-template pTemplate="header" let-columns  style="margin-right: 0;">
    <tr>
      <th pResizableColumn></th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th pResizableColumn></th>
    </tr>
    <tr>
      <th pResizableColumn >
        <p-tableHeaderCheckbox> </p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of columns" pResizableColumn>
        <p-columnFilter type="text" [field]="col.field" [matchMode]="'contains'"></p-columnFilter>
      </th>
      <th pResizableColumn></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns"  let-colum >
    <tr [pEditableRow]="rowData" >
      <td pResizableColumn>
      <p-tableCheckbox [value]="colum"></p-tableCheckbox>
      </td>
      <td>{{rowData?.id}}</td>
      <td>{{rowData?.server?.dns_name}}</td>
      <td>{{rowData?.total_size}}</td>
      <td>{{rowData?.server_mount_point}}</td>
      <td>{{rowData?.my_notes}}</td>
      <td pResizableColumn>
        <button pButton pRipple icon="pi pi-trash"
                class="p-button-rounded p-button-warning"
                type="button"
                (click)="deleteServer_Partition(rowData.id)">
        </button>
        <button pButton pRipple icon="pi pi-pencil"
                class="p-button-rounded p-button-help"
                type="button"
                (click)="editServer_Partition(rowData)">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="Server_PartitionDialog" [style]="{width: '450px'}" header="Новый раздел сервера" [modal]="true" styleClass="p-fluid">

  <ng-template pTemplate="content">

  <div class="dropdown">
    <label>ID сервера</label>
    <ng-select  [items]="servers"
                placeholder="выбор по 'DNS имя'"
                bindLabel="dns_name"
                bindValue="id"
                [(ngModel)]="server_partition.server_id" required></ng-select>
    <small class="p-invalid" *ngIf="!submitted && !server_partition.server_id">Необходимо заполнить ID сервера</small>
  </div>
  <div class="form-group" style="margin-top: 10px; margin-right: 10px;">
    <div class="row">
      <label for="server_partition.total_size" class="col control-label">Размер</label>
      <input type="text" [(ngModel)]="server_partition.total_size" placeholder="число" 
      class="col control-label rounded border border-1" (keypress)="onKeyPress($event)"/>
    </div>
  </div>
  <div class="p-field">
    <label>Точка подключения сервера</label>
    <input type="text" pInputText  [(ngModel)]="server_partition.server_mount_point" placeholder="текст" />
  </div>
  <div class="p-field">
    <label>Заметки</label>
    <input type="text" pInputText  [(ngModel)]="server_partition.my_notes"  placeholder="текст"/>
  </div>
  </ng-template>

  <ng-template pTemplate="footer">
  <div class="row">
    <div class="col-6"> 
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" 
              [disabled]="!submitted && !server_partition.server_id" (click)="saveServer_Partition()"></button> 
    </div>
    <div class="col-6"> 
      <button pButton pRipple label="Cansel" icon="pi pi-cancel" class="p-button-text" (click)="hideDialog()"></button> 
    </div>
  </div>
  </ng-template>
</p-dialog>

<p-confirmDialog></p-confirmDialog>
