<h5 style="text-align: center;">Сервисы</h5>
<p-toast></p-toast>
<p-toolbar styleClass="p-mb-2">
  <ng-template pTemplate="left">
    <button pButton pRipple label="Новый сервис" icon="pi pi-plus" class="p-button-success" (click)="addService()" ></button>
  </ng-template>
</p-toolbar>

<p-table
  styleClass="p-datatable-gridlines"
  [resizableColumns]="true"
  [columns]="colsService"
  [value]="Services"
  sortMode="multiple"
  [scrollable]="true"
  selectionMode="single"
  [metaKeySelection]="true"
  [paginator]="true"
  [rows]="10" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20,1000]"
  currentPageReportTemplate="Демонстрация от {first} до {last} из {totalRecords} записи(ей)" [showCurrentPageReport]="true"
  [(selection)]="selectItem"
>
  <ng-template pTemplate="header" let-columns  style="margin-right: 0;">
    <tr>
      <th pResizableColumn ></th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th pResizableColumn ></th>
    </tr>
    <tr>
      <th pResizableColumn >
        <p-tableHeaderCheckbox> </p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of columns" pResizableColumn>
        <p-columnFilter type="text" [field]="col.field" [matchMode]="'contains'"></p-columnFilter>
      </th>
      <th pResizableColumn ></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns"  let-colum>
    <tr [pEditableRow]="rowData" >
      <td pResizableColumn >
      <p-tableCheckbox [value]="colum"></p-tableCheckbox>
      </td>
      <td>{{rowData?.id}}</td>
      <td>{{rowData?.server?.dns_name}}</td>
      <td>{{rowData?.server_description}}</td>
      <td>{{rowData?.server_role_description}}</td>
      <td>{{rowData?.services?.server_description}}</td>            
      <td>{{rowData?.my_notes}}</td>
      <td pResizableColumn >
        <button pButton pRipple icon="pi pi-trash"
                class="p-button-rounded p-button-warning"
                type="button"
                (click)="deleteService(rowData.id)">
        </button>
        <button pButton pRipple icon="pi pi-pencil"
                class="p-button-rounded p-button-help"
                type="button"
                (click)="editService(rowData)">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="ServiceDialog" [style]="{width: '450px'}" header="Новый сервис" [modal]="true" styleClass="p-fluid">

  <div class="dropdown">
    <label>Имя хоста</label>
    <ng-select  [items]="servers"
                placeholder="выбор по 'DNS имя'"
                bindLabel="dns_name"
                bindValue="id"
                [(ngModel)]="service.server_id" required></ng-select>
    <small class="p-invalid" *ngIf="!submitted && !service.server_id">Необходимо заполнить ID сервера</small>
  </div>
  <div class="p-field">
    <label>Наиманование сервиса</label>
    <input type="text" pInputText  [(ngModel)]="service.server_role_description"  placeholder="текст"/>
  </div>
  <div class="p-field">
    <label>Базовая технология</label>
    <input type="text" pInputText  [(ngModel)]="service.server_description" placeholder="текст" />
  </div>
  <div class="dropdown">
    <label> Сервисы бекапирования</label>
      <ng-select  [items]="hostService"
                  bindLabel="server_description"
                  placeholder="выбор*"
                  bindValue="id"
                  [(ngModel)]="service.backup_service_id" ></ng-select>     
  </div>
  <div class="p-field">
    <label>Заметки</label>
    <input type="text" pInputText  [(ngModel)]="service.my_notes" placeholder="текст" />
  </div>

  <div class="row">
    <div class="col-6"> 
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" 
              [disabled]="!submitted && !service.server_id" (click)="saveService()"></button> 
    </div>
    <div class="col-6"> 
      <button pButton pRipple label="Cansel" icon="pi pi-cancel" class="p-button-text" (click)="hideDialog()"></button> 
    </div>
  </div>
</p-dialog>

<p-confirmDialog></p-confirmDialog>

